

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">


<div id="topbar">

  <div id="namediv" style="font-size: 30px; font-family: Montserrat; text-align: center;  color: white">
    <img src="https://upload.wikimedia.org/wikipedia/commons/a/ab/Android_O_Preview_Logo.png" style="height: 30px; width: 30px; ">
    Comic Hub
  </div>


</div>
<br>
<router-outlet></router-outlet>
